@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-success" asp-controller="Users" asp-action="Index">Users List</a>
    <a class="btn btn-success" asp-controller="Jobs" asp-action="Index">Jobs List</a>
    <br />
    <br />
    <a class="btn btn-success" href="C:/Users/darah/Desktop/tempPlacement1/tempPlacement/index.html">Designs</a>
</div>
